*{
    margin: 0;
    padding: 0;

}
.logo{
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 90%;
        opacity: 0.9 ;
}
.nav-link
{
    display: flex;
    font-size: 20px;
}


  